@font-face {
  font-family: "iconfont"; /* Project id 2634877 */
  src: url('//at.alicdn.com/t/font_2634877_she7fhrw4g.woff2?t=1627449034653') format('woff2'),
       url('//at.alicdn.com/t/font_2634877_she7fhrw4g.woff?t=1627449034653') format('woff'),
       url('//at.alicdn.com/t/font_2634877_she7fhrw4g.ttf?t=1627449034653') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-richang:before {
  color: #eee;
  content: "\e66f";
}

.icon-shuoshuonidekanfa:before {
  color: #4c4948;
  content: "\e605";
}

.icon-icon:before {
  color: #eee;
  content: "\e615";
}

.icon-pc:before {
  content: "\e603";
}

.icon-huaban881:before {
  content: "\e600";
}

.icon-csdn:before {
  content: "\e60d";
}

.icon-mayun:before {
  content: "\e601";
}